/* Definindo o estilo do corpo da página */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

/* Estilizando o botão */
#toggleButton {
    padding: 10px 20px;
    background-color: #007bff62;
    color: #fff;
    position: fixed;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
    /* Sombra leve para dar profundidade */
    font-weight: bold;
    /* Texto em negrito */
    transition: background-color 0.3s ease;
    /* Transição suave de cor de fundo */
    border-radius: 25px;
    /* Bordas arredondadas para criar um botão mais suave */

}

header .a {
    margin-right: 880px;
    margin-top: -250px;
    color:black;
}




